<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_gazebo">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find carlikebot_bringup)/config/carlikebot_controllers.yaml</parameters>
        <parameters>$(find carlikebot_bringup)/config/use_sim_time.yaml</parameters>
        <ros>
            <remapping>/bicycle_steering_controller/tf_odometry:=tf</remapping>
        </ros>          
      </plugin>
    </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>