<?xml version="1.0"?>
<!-- 4 Wheel Robot with front steering and rear drive -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="carlikebot_robot">

  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="use_gazebo_classic" default="false" />
  <xacro:arg name="use_ekf" default="true" />
  <!-- <xacro:arg name="prefix" default="" /> -->

  <!-- Import carlikebot description -->
  <!-- <xacro:include filename="robot/robot_description.urdf.xacro" /> -->
  <xacro:include filename="carlikebot/carlikebot.description.urdf.xacro" />

   <!-- Import Rviz colors -->
  <xacro:include filename="carlikebot/carlikebot.materials.xacro" />

  <!-- Import carlikebot ros2_control description -->
  <xacro:include filename="carlikebot/carlikebot.ros2_control.xacro" />

  <xacro:carlikebot />

  <xacro:carlikebot_ros2_control
    name="CarlikeBot" 
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)" 
    use_gazebo_classic="$(arg use_gazebo_classic)" />

  <xacro:if value="$(arg use_gazebo_classic)">
    <!-- Import Gazebo Classic definitions + plugin -->
    <xacro:include filename="carlikebot/carlikebot.gazebo.xacro" />
    <xacro:carlikebot_gazebo 
      use_ekf="$(arg use_ekf)" />
  </xacro:if>

</robot>