<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="carlikebot_ros2_control" params="name use_mock_hardware:=^|false mock_sensor_commands:=^|false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mock_components/GenericSystem</plugin>
        <param name="mock_sensor_commands">${mock_sensor_commands}</param>
      </hardware>
      <joint name="virtual_front_wheel_joint">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
      <joint name="virtual_rear_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="velocity"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>